body{
  background-color: #fae3d9;
  font-family: monospace;
}

p {
  color: grey;
}


hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #be8abf;
}
h2 {
  color: #fea5ad;
  background-color: #be8abf;
}

img {
  border-radius: 100%;
}
